<div class="kyc-view">
	<div class="products-choose">
		<div class="products-title">Customer Type</div>
		<button class="btn btn-primary choose-ind kyc-button">Individual</button>
		<button class="btn btn-primary choose-corp kyc-button">Corporate</button>
	</div>
	<div class="products-quote">
		<div class="products-title">Questions</div>
		<h1 class="temp-search-result">Select Type To Begin</h1>
		<form class="ind-form">
			<div class="kyc-question">
			<label>First Name</label>
			<input class="form-control" type="text" placeholder="First Name">
			</div>
			<div class="kyc-question">
			<label>Last Name</label>
			<input class="form-control" type="text" placeholder="Last Name">
			</div>

			<div class="kyc-question">			
				<label>Customer Address</label>
				<input class="form-control" type="text" placeholder="Customer Address">
			</div>
			<div class="kyc-question">
				<label>Annual Salary</label>
				<select class="form-control">
					<option>--Select Salary--</option>
				</select>
			</div>

			<div class="kyc-question">
			<label>Correspondence Address</label>
			<input class="form-control" type="text" placeholder="Correspondence Address">
			</div>

			<div class="kyc-question">
			<label>Date Of birth</label>
			<input class="form-control" type="date" placeholder="Date Of birth">
			</div>

			<div class="kyc-question">
			<label>Email</label>
			<input class="form-control" type="text" placeholder="Email">
			</div>

			<div class="kyc-question">
			<label>Employment Type</label>
			<select class="form-control">
				<option>--Select Employement Type--</option>
			</select>
			</div>

			<div class="kyc-question">
			<label>Hobbies</label>
			<input class="form-control" type="text" placeholder="Hobbies">
			</div>

			<div class="kyc-question">
			<label>Home Phone No</label>
			<input class="form-control" type="text" placeholder="Home Phone No">
			</div>

			<div class="kyc-question">
			<label>Job Title</label>
			<select class="form-control">
				<option>--Select Job Title--</option>
			</select>
			</div>

			

			<div class="kyc-question">
			<label>Mobile No</label>
			<input class="form-control" type="text" placeholder="Mobile No">
			</div>

			<div class="kyc-question">
			<label>Office Address</label>
			<input class="form-control" type="text" placeholder="Office Address">
			</div>

			<div class="kyc-question">
			<label>Phone No</label>
			<input class="form-control" type="text" placeholder="Phone No">
			</div>

			<div class="kyc-question">
				<label>Profession</label>
				<select class="form-control">
					<option>--Select Profession--</option>
				</select>
			</div>

			<div class="kyc-question">			
			<label>Religion</label>
			<select class="form-control">
				<option>--Select Religion--</option>
			</select>
			</div>

			<button class="btn btn-secondary submit-corp">Submit</button>

		</form>

		<form class="corp-form">
			<div class="kyc-question">
				<label>Subsidiary Name</label>
				<input class="form-control" type="text" placeholder="Subsidiary Name">
			</div>
			<div class="kyc-question">
			<label>Business Activity</label>
			<input class="form-control" type="text" placeholder="Business Activity">
			</div>

			<div class="kyc-question">			
				<label>Description of Activity/Asset</label>
				<input class="form-control" type="text" placeholder="Description of Activity/Asset">
			</div>
			<div class="kyc-question">
				<label>Transaction Status</label>
				<select class="form-control">
					<option>--Select Transaction Status--</option>
				</select>
			</div>

			<div class="kyc-question">
				<label>Business Type</label>
				<select class="form-control">
					<option>--Select Business Type--</option>
				</select>
			</div>
			<button class="btn btn-secondary submit-ind">Submit</button>
		</form>
	</div>
</div>