<div id="login-view">
	<div class="login-load"><i class="fa fa-spinner fa-spin"></i></div>
	<div class="login-overlay"></div>
	<form class="login-form">
		<div class="login-logo"><img src="../../../img/logo-ball.png"></div>
		<h1 class="login-form-title">Sales Portal</h1>
		<h2 class="login-form-subtitle">Login Below</h2>
		<div class="login-error"></div>
		<div class="login-form-input"><input class="login-input login-username" type="text" placeholder="Username"/></div>
		<div class="login-form-input"><input class="login-input login-password" type="password" placeholder="Password"/></div>
		<div class="login-button-holder"><button class="login-button btn btn-primary">Login</button></div>
	</form>
</div>