.cart-button.fa.fa-shopping-cart, .add-contact-button.fa.fa-plus {
	position: absolute;
	right: 0;
	top: 0px;
	font-size: 2.5em;
	color: white;
	padding: 20px;
	cursor: pointer;
}
.cart-num {
position: absolute;
left: 40px;
font-size: 14px;
top: 15px;
border-radius: 100px;
width: 20px;
height: 20px;
text-align: center;
line-height: 20px;
background: $black;
}