.products-view {
	width: 100%;
	height: 100%;
	float: right;
	background: $white;
}

.products-choose {
	float: left;
	width: 30%;
	height: 100%;
}

.products-quote {
	border-left: 1px solid $search_grey;
	height: 100%;
	float: right;
	width: calc(70% - 1px);
}

.products-title {
	width: 100%;
	height: 50px;
	background: $light_grey;
	text-align: center;
	line-height: 50px;
	font-size: 1em;
	color: $medium_grey;
	font-weight: 100;
}
.life-dropdown {
	display:none;
}

.motor-dropdowns {
	display:none;
}